##
##  Copyright(c) 2013-2014 Laika, developed under contract by mitchpraterLLC.
##  All rights reserved unless otherwise granted. This program or documentation
##  contains proprietary, confidential information and trade secrets of Laika
##  and/or mitchpraterLLC. Use of copyright notice does not imply publication.
##  
##  By possessing this software, you agree to the following terms and conditions.
##  You may not resell this software, but you may freely distribute it to others.
##  You may use it for whatever purposes you wish. There are no warranties of any
##  kind. You may make modifications, however any derivation may only be distributed
##  to others under the same freedoms granted to you herein, it must retain this
##  notice and agreement, and the modifications noted. We also ask that you make
##  such modifications available to Laika, mitchpraterLLC, or to the computer
##  graphics community as a whole through a public forum.
##
slim 1 extensions mprater {
  extensions laika vfx {

    templateV multiple meV7ColorSocket 0 {
        description {
            This template is used in conjunction with a Color Material Effector to alter the responses' color.
            Connect this template's Socket to the Socket parameter of a Color template,
            and its Network output to the start of a color manipulation network.
            The result of the network is then
            connected to the Network Result parameter of the Color template.
        }

        parameter meV7ColorSocket_s Socket {
            label {Socket}
            display hidden
            access output
        }

        parameter color Network {
            label {Network}
            display hidden
            access output
        }


        RSLInclude {effectorV7/ColorSocket.h}

		RSLFunction {
		    void vfxmeV7ColorSocket (
                output meV7ColorSocket_s    in;
                output varying color        out;
            ) {
                out = in->Get();
            }
		}
	}

  }
}
