##
##  Copyright(c) 2013 Laika, developed under contract by mitchpraterLLC.
##  All rights reserved unless otherwise granted. This program or documentation
##  contains proprietary, confidential information and trade secrets of Laika
##  and/or mitchpraterLLC. Use of copyright notice does not imply publication.
##  
##  By possessing this software, you agree to the following terms and conditions.
##  You may not resell this software, but you may freely distribute it to others.
##  You may use it for whatever purposes you wish. There are no warranties of any
##  kind. You may make modifications, however any derivation may only be distributed
##  to others under the same freedoms granted to you herein, it must retain this
##  notice and agreement, and the modifications noted. We also ask that you make
##  such modifications available to Laika, mitchpraterLLC, or to the computer
##  graphics community as a whole through a public forum.
##
slim 1 extensions mprater {
  extensions laika vfx {

	templateV geolighteffector gleV7Portal 0 {
		description {
            A Portal is a window through which light must pass.
            Specifying portals gives the renderer important information about where it should sample.
		}

        eval [::__categoryParam "ikaGeoLightPortal"]

        parameter string Space {
            label {Control Space}
            description {
                This is set to the name of a coordinate system.
                The edges of the portal are defined by +/-1 locations of the Control Space X and Y axes.
                If "shader" or blank, the object this is attached to will define the coordinate system.
                Note that geometry between the light and the portal will not be illuminated.
            }
            provider variable
            detail varying
            subtype place3d
            default "shader"
        }


        RSLClass {
output "
            public  uniform matrix  Matrix = matrix 1;
"
            generateMethod "public void begin()" {
                generate *
output "
                uniform string  _Space = [getvar Space];

                if (_Space == \"\") _Space = \"shader\";
                Matrix = transform( _Space, matrix 1 );
"
            }
        }
	}

  }
}
