##
##  Copyright(c) 2013-2014 Laika, developed under contract by mitchpraterLLC.
##  All rights reserved unless otherwise granted. This program or documentation
##  contains proprietary, confidential information and trade secrets of Laika
##  and/or mitchpraterLLC. Use of copyright notice does not imply publication.
##  
##  By possessing this software, you agree to the following terms and conditions.
##  You may not resell this software, but you may freely distribute it to others.
##  You may use it for whatever purposes you wish. There are no warranties of any
##  kind. You may make modifications, however any derivation may only be distributed
##  to others under the same freedoms granted to you herein, it must retain this
##  notice and agreement, and the modifications noted. We also ask that you make
##  such modifications available to Laika, mitchpraterLLC, or to the computer
##  graphics community as a whole through a public forum.
##
slim 1 extensions mprater {
  extensions laika vfx {

    templateV bxdfV7Refraction_s bxdfV7Refraction 0 {
        description {
            Simple Refraction. Must set the Specular Hit Mode to Shader.
        }

        parameter float OnOff {
            label {On Off}
            description {
                Turn this response on or off.
                On(1) = Normal Computation.
                Bypass(0) = Don't show its response in the result.
                Kill(-1) = Remove it from the Material.
                <
            }
            detail varying
            subtype selector
            range {
                "On" 1
                "Bypass" 0
                "Kill" -1
            }
            default 1
        }
        parameter coshader OnOff_Co_ {
            display hidden
            default {}
            value {}
        }

        parameter float NormOnOff {
            label {Normalize On}
            description {
                Does this response participate in the Intensity Normalization within this Layer or not?
                Note that when this is first turned off, the intensities of all the normalized responses
                (including it) will change. But once it's been removed from that computation, further changes
                will not interact with the rest of the responses.
                <
            }
            detail varying
            subtype switch
            default 1
        }
        parameter coshader NormOnOff_Co_ {
            display hidden
            default {}
            value {}
        }

        parameter float Intensity {
            description {
                The Intensity of the response.
                <
            }
            detail varying
            subtype slider
            range {0 2}
            default 1
        }
        parameter coshader Intensity_Co_ {
            display hidden
            default {}
            value {}
        }

        parameter color Color {
            label {Color}
            description {
                The color of the response.
                <
            }
            detail varying
            default {1 1 1}
        }
        parameter coshader Color_Co_ {
            display hidden
            default {}
            value {}
        }

        parameter float ColorMix {
            label {Use Color}
            description {
                Determines how much of the Color is used in the response.
                <
            }
            detail varying
            subtype slider
            range {0 1}
            default 1
        }
        parameter coshader ColorMix_Co_ {
            display hidden
            default {}
            value {}
        }

        parameter float Density {
            label {Density}
            description {
                The optical density of the response: how much does the material
                tint the light being refracted through it, using Beer's function.
                Scales the world-space thickness of the material.
                If -1, the Color value become a simple tint on the overall result.
                <
            }
            detail varying
            subtype slider
            range {0 1}
            default 0
        }
        parameter coshader Density_Co_ {
            display hidden
            default {}
            value {}
        }

        parameter float Exponent {
            label {Exponent}
            description {
                The focusing exponent.
                The actual cosine-lobe power is 10^Exponent.
                <
            }
            detail varying
            subtype slider
            range {1 6}
            default 6
        }
        parameter coshader Exponent_Co_ {
            display hidden
            default {}
            value {}
        }

        parameter float Anisotropy {
            label {Anisotropy}
            description {
                The degree of anisotropy.
                0 will produce an isotropic response.
                Increasing the value toward 1 will produce an increasingly anisotropic result.
                <
            }
            detail varying
            subtype slider
            range {0 1}
            default 0
        }
        parameter coshader Anisotropy_Co_ {
            display hidden
            default {}
            value {}
        }

        parameter vector Tangent {
            label {Tangent}
            description {
                Provides the orientation of the Ashikhmin-Shirley anisotropic response.
                This direction is along the length of the reflective micro-cylinders.
                <
            }
            provider connection
            detail mustvary "laika,UVTangent"
            default {0 0 1}
        }
        parameter coshader Tangent_Co_ {
            display hidden
            default {}
            value {}
        }

        collection void1 FresnelOverride {
            label {Fresnel Override}
            description {
                These controls allow you to alter the Fresnel Value that
                will be used. This overrides any Fresnel function that's connected to
                the Material with the Fresnel parameter.
            }

            parameter float FresnelInfluence {
                label {Influence}
                description {
                    How much of the alternate Fresnel Value is used?
                    This is a mix between the connected Fresnel function and the alternate Fresnel Value.
                    <
                }
                detail varying
                subtype slider
                range {0 1}
                default 0
            }
            parameter coshader FresnelInfluence_Co_ {
                display hidden
                default {}
                value {}
            }

            parameter color FresnelValue {
                label {Fresnel Value}
                description {
                    An alternate Fresnel Value to use.
                    <
                }
                detail varying
                default {1 1 1}
            }
            parameter coshader FresnelValue_Co_ {
                display hidden
                default {}
                value {}
            }
        }

        parameter color LightTint {
            label {Light Tint}
            description {
                Tints the refracted image of light sources only.
                <
            }
            detail varying
            default {1 1 1}
        }
        parameter coshader LightTint_Co_ {
            display hidden
            default {}
            value {}
        }

        parameter float SampleDensity {
            label {Sample Density}
            description {
                Sets the sample density to use. The actual number of samples
                used is a function of the response size.
                When Default (-1), use the Attribute user:sample_density value.
                <
            }
            detail uniform
            subtype slider
            range {-1 150 1}
            default -1
        }
        parameter coshader SampleDensity_Co_ {
            display hidden
            default {}
            value {}
        }

        parameter float RayDepth {
            label {Ray Depth}
            description {
                Sets the maximum ray depth to use.
                When Default (-1), use the trace:maxspeculardepth attribute value.
                <
            }
            detail uniform
            subtype slider
            range {-1 4 1}
            default -1
        }
        parameter coshader RayDepth_Co_ {
            display hidden
            default {}
            value {}
        }

        parameter color FillColor {
            label {Fill Color}
            description {
                When Ray Depth is exceeded but no surface has been hit,
                use this color to fill in the result.
                <
            }
            detail varying
            default {0 0 0}
        }
        parameter coshader FillColor_Co_ {
            display hidden
            default {}
            value {}
        }

        parameter bxdfV7Refraction_s result {
            display hidden
            access output
        }


#        RSLInclude {bxdfV7/Refraction.h} -within body

        RSLInclude {color.h}
        RSLInclude {coreV7/override.h}

        RSLSource DynamicFunction {
            proc primvars {} {}
            proc function {} {
                generateBody {

                    set overrideParam "OnOff"
                    set coParam [safeeval [safeeval %c GetProperties -name "${overrideParam}_Co_"] GetNameSL 1]
                    output "varying float _$overrideParam = overrideV( $coParam, [getvar $overrideParam] );"

                    set overrideParam "NormOnOff"
                    set coParam [safeeval [safeeval %c GetProperties -name "${overrideParam}_Co_"] GetNameSL 1]
                    output "varying float _$overrideParam = overrideV( $coParam, [getvar $overrideParam] );"

                    set overrideParam "Intensity"
                    set coParam [safeeval [safeeval %c GetProperties -name "${overrideParam}_Co_"] GetNameSL 1]
                    output "varying float _$overrideParam = overrideV( $coParam, [getvar $overrideParam] );"

                    set overrideParam "Color"
                    set coParam [safeeval [safeeval %c GetProperties -name "${overrideParam}_Co_"] GetNameSL 1]
                    output "varying color _$overrideParam = overrideV( $coParam, [getvar $overrideParam] );"

                    set overrideParam "ColorMix"
                    set coParam [safeeval [safeeval %c GetProperties -name "${overrideParam}_Co_"] GetNameSL 1]
                    output "varying float _$overrideParam = overrideV( $coParam, [getvar $overrideParam] );"

                    set overrideParam "Density"
                    set coParam [safeeval [safeeval %c GetProperties -name "${overrideParam}_Co_"] GetNameSL 1]
                    output "varying float _$overrideParam = overrideV( $coParam, [getvar $overrideParam] );"

                    set overrideParam "Exponent"
                    set coParam [safeeval [safeeval %c GetProperties -name "${overrideParam}_Co_"] GetNameSL 1]
                    output "varying float _$overrideParam = overrideV( $coParam, [getvar $overrideParam] );"

                    set overrideParam "Anisotropy"
                    set coParam [safeeval [safeeval %c GetProperties -name "${overrideParam}_Co_"] GetNameSL 1]
                    output "varying float _$overrideParam = overrideV( $coParam, [getvar $overrideParam] );"

                    set overrideParam "Tangent"
                    set coParam [safeeval [safeeval %c GetProperties -name "${overrideParam}_Co_"] GetNameSL 1]
                    output "varying vector _$overrideParam = overrideV( $coParam, [getvar $overrideParam] );"

                    set overrideParam "LightTint"
                    set coParam [safeeval [safeeval %c GetProperties -name "${overrideParam}_Co_"] GetNameSL 1]
                    output "varying color _$overrideParam = overrideV( $coParam, [getvar $overrideParam] );"

                    set overrideParam "FresnelInfluence"
                    set coParam [safeeval [safeeval %c GetProperties -name "${overrideParam}_Co_"] GetNameSL 1]
                    output "varying float _$overrideParam = overrideV( $coParam, [getvar $overrideParam] );"

                    set overrideParam "FresnelValue"
                    set coParam [safeeval [safeeval %c GetProperties -name "${overrideParam}_Co_"] GetNameSL 1]
                    output "varying color _$overrideParam = overrideV( $coParam, [getvar $overrideParam] );"

                    set overrideParam "SampleDensity"
                    set coParam [safeeval [safeeval %c GetProperties -name "${overrideParam}_Co_"] GetNameSL 1]
                    output "uniform float _$overrideParam = overrideU( $coParam, [getvar $overrideParam] );"

                    set overrideParam "RayDepth"
                    set coParam [safeeval [safeeval %c GetProperties -name "${overrideParam}_Co_"] GetNameSL 1]
                    output "uniform float _$overrideParam = overrideU( $coParam, [getvar $overrideParam] );"

                    set overrideParam "FillColor"
                    set coParam [safeeval [safeeval %c GetProperties -name "${overrideParam}_Co_"] GetNameSL 1]
                    output "varying color _$overrideParam = overrideV( $coParam, [getvar $overrideParam] );"

output "
                    result->OnOff = _OnOff;
                    result->NormOnOff = _NormOnOff * step( -0.5, _OnOff );  // Do not normalize if killed.
                    result->Intensity = _Intensity;
                    result->Color = _Color;
                    result->ColorMix = _ColorMix;
                    result->Density = _Density;
                    result->Exponent = clamp(_Exponent+1,0,10); // Refracted spread not as great as reflection.
                    result->pow10Exponent = pow(10,clamp(_Exponent+1,0,10));
                    result->Anisotropy = _Anisotropy;
                    result->Tangent = _Tangent;
                    result->LightTint = colorSRGBToLinear( _LightTint );
                    result->FresnelInfluence = _FresnelInfluence;
                    result->FresnelValue = _FresnelValue;
                    result->SampleDensity = _SampleDensity;
                    result->RayDepth = _RayDepth;
                    result->FillColor = colorSRGBToLinear( _FillColor );
"
                }
            }
        }
    }

  }
}
